body
{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;

	/* background-color: lightgray; */
}
.navbar
{
	border-radius: 0px;
	margin-bottom: 15px;
}
.navbar-inverse
{
	/* background-color: #222;
    border-color: #080808; */
    background-color: #d9534f;
    border: none; 
}
.navbar-inverse .navbar-nav>li>a
{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover
{
	color: #2c3e50;
}
.navbar-inverse .navbar-brand
{
	color: white;
}
.navbar-inverse .navbar-brand:hover
{
	color: #2c3e50;
    background-color: transparent;
}
/* .navbar>.container .navbar-brand
{
    margin-left: -30px;
} */
/* .slide
{
	margin-top: 65px;
} */
.carousel
{
	/* padding-right: 0px;
    padding-left: 0px; */
    margin-bottom: 7px;
}
.sales
{
	height: 100%;
	background-color: white;
	/* padding-left: 0px;
	padding-right: 0px; */
    margin-bottom: 15px;
}
.title a
{
	width: 100%;
	border-radius: 0px;
	border: none;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.box_new
{
	padding: 10px;
	border: 1px solid lightgrey;
}
.promo
{
	margin-top: 0px;
	margin-bottom: 15px;
}
.promo span
{
	font-size:3em;
	padding-top: 15px;
}
.box_promo
{
    /* background-clip: content-box; */
    /* padding: 15px; */
    text-align: center;
    color: white;
}
.box_promo:hover
{
    color: #2c3e50;
}
.list_product .title
{
	/* margin: 0 -15px; */
}
.list_product .row
{
	border: 1px solid #d9534f;
}
.list_product
{
	/* margin-top: 15px; */
	margin-bottom: 15px;
}
.box_product
{
	padding: 15px;
	/*border-top: 4px solid #d9534f;*/
	border: 1px solid #d9534f;
	/*height: 432px;*/
	overflow: auto;
}
.box_product a
{
	text-decoration: none;
}
.thumbnail
{
	border-radius: 0px;
	border: 0px;
}
.info_product
{
	display: none;
	overflow: auto;
	opacity: 1;
	width: 100%;
	padding: 15px;
	height: 100%;
	transition-duration: 5s;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}
.price_product del,.price_product span
{
	color: #d9534f;
	font-weight: bold;
	font-size: 16px;
}
.price_product_hover del,.price_product_hover span
{
	color: #d9534f;
	font-weight: bold;
	font-size: 16px;
}
.box_product:hover .info_product
{
	display: block;
	opacity: 0.85;
	background-color: white;
}
.box_product:hover .price_product
{
	opacity: 0;
}
.footer
{
	background-color: #d9534f;
	padding: 15px;
	font-size: 15px;
	color: white;
	margin-top: 15px;
}
.footer a
{
	text-decoration: none;
	color: white;
}
.footer ul li
{
	/* list-style: none; */
	margin: 15px 0;
}
.connect ul li
{
	list-style: none;
	display: inline;
}
.connect ul
{
	margin-left: -40px;
}
.connect ul li:hover
{
	background-color: white;
}
.breadcrumb
{
	padding: 0 15px;
    margin-bottom: 20px;
    background-color: white;
}
.price_product_2
{
	color: #d9534f;
	font-weight: bold;
	font-size: 25px;
}
.spec li
{
	display: table;
    width: 100%;
    border-top: 1px solid #eee;
}
.spec_product td
{
	border-top: 1px solid #eee;
}
.spec_product
{
	font-size: 17px;
}
.select_product
{
	margin-bottom: 15px; 
}
.select_product .btn-danger
{
	border-radius: 0px;
}
.btn-danger:hover
{
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.dropdown-menu
{
	width: 100%;
	text-align: center;
}
.pagination span, .pagination > li > a,.pagination span, .pagination > li > a:hover
{
	color: #d9534f;
}
.pagination > .active > a, .pagination > .active > a:hover
{
	background-color: #d9534f;
	border-color: #d9534f;
}
.form input, .form button
{
	margin: 10px 0;
	width: 100%;
}
.shopping_cart
{
	font-size: 14px; 	
	width: 100%;
	text-align: center;

}
.shopping_cart img
{
	width: 70%;
}
.shopping_cart tr
{
	border-top: 1px solid #eee;
}
.cart_item
{
	height: 115px;
}
iframe
{
	border: none;
	width: 100%;
	height: 725px;
}
.breadcrumb a
{
	color: #d9534f;
}
.footer h4
{
	font-weight: bolder;
	font-size: 20px;
}
@media (max-width: 767px) 
{ 
	.box_product
	{
		height: 365px;
	}
}
/*@media (min-width: 767px) and (max-width: 991px)
{
	.box_product
	{
		
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{

}
@media (min-width: 1200px)
{

}*/
